---
import { DateTime } from 'luxon';
import { TopBid } from '../client/top-bid';
import { parseImagesFromDescription } from '../../utils/helpers';
import type { Auction } from '../../types/auction';

const { id, auction } = Astro.props;
const { imageUrl, cleanDescription } = parseImagesFromDescription(auction.description);
---

<div class="auction-card" onclick={`window.location.href='/auction/${id}'`}>
  <h3>{auction.title}</h3>
  
  <div class="auction-image-container">
    <img 
      src={imageUrl || 'https://placehold.co/800x400.webp?text=justbazar'} 
      alt="Auction item"
      class="auction-image"
      loading="lazy"
    />
  </div>
  <div class="details">
    <p class="description">{cleanDescription}</p>
    <p>Ends: {DateTime.fromSeconds(auction.finishTimestamp).toLocaleString(DateTime.DATETIME_FULL)}</p>
    <TopBid client:idle auctionId={id} />
  </div>
</div>
